################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyBooksStore/MyBooksStore/bin/Debug/netcoreapp3.1
/MyBooksStore/MyBooksStore/obj
/.vs
/MyBooksStore/.vs/MyBooksStore
