@model MyBooksStore.Models.ChangePasswordModel
<h1>ChangePassword</h1>
<div class="container">

    <div class="row">
        <div class="col-md-4 offset-4">
            @if (ViewBag.IsSuccess==true)
            {
                <div class="alert alert-success" role="alert">
                    Password Has Been Changed Successfully.
                </div>
            }

            <form asp-action="ChangePassword" asp-controller="Account">

                <div class="form-group">
                    <label asp-for="CurrentPassword"></label>
                    <input asp-for="CurrentPassword" class="form-control" />
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="NewPassword"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="ChangePassword" class="btn btn-primary" asp-controller="Account" asp-action="ChangePassword" />
                </div>

            </form>


            <div>
                <p>Click <a asp-controller="Account" asp-action="Login">Here</a>to SignIn</p>
            </div>
        </div>

        <div class="col-md-8">
            
            @*<img src="~/image/login1.jpg" class="img-fluid" />*@
        </div>

    </div>


</div>