@model MyBooksStore.Models.SignInModel
<h1>Login</h1>
<div class="container">

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Login">
              
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="RememberMe"></label>
                    <input asp-for="RememberMe" class="form-control">
                    <span asp-validation-for="RememberMe" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary" asp-controller="account" />
                </div>

            </form>


            <div>
               <p>Click <a asp-controller="Account" asp-action="signup" >Here</a>to signup</p> 
            </div>
        </div>

        <div class="col-md-8">
            <img src="~/image/login1.jpg" class="img-fluid" />
        </div>

    </div>


</div>